body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Sora', sans-serif;
    background-image: url("/img/imagen2.jpg");
}
main{
    flex-grow: 1;
}
.btn:hover{
    background-color: rgb(255, 0, 0);
    

}
